/Makefile.am
/anytostr.c
/imaxtostr.c
/intprops.h
/inttostr.c
/inttostr.h
/limits.in.h
/offtostr.c
/stdint.in.h
/sys_types.in.h
/uinttostr.c
/umaxtostr.c
/verify.h
/basename-lgpl.c
/dirname-lgpl.c
/dirname.h
/dosname.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/getprogname.c
/getprogname.h
/gettext.h
/malloc.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/size_max.h
/stdbool.in.h
/stddef.in.h
/stdio.in.h
/stdlib.in.h
/strerror-override.c
/strerror-override.h
/strerror.c
/string.in.h
/stripslash.c
/unistd.c
/unistd.in.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
/xsize.c
/xsize.h
*~
*.*~
